@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar {
  position: relative;
  top: 10;
  left: 10px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.menu {
  display: none;
}

.nave-toggle {
  margin-right: 20px;
}

.page-1 {
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 100px 70px;
  overflow-x: hidden;
}

.p1-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 50px;
}

.p1-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.p1-connect {
  color: #7f8cff;
  font-weight: 500px;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1;
}

.p1-link {
  display: flex;
  width: clamp(12rem, 12vw, 15rem);
  justify-content: space-between;
  margin-bottom: 1rem;
  list-style-type: none;
}

.image {
  position: absolute;
}

.image-1 {
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 141.49px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.image-3 {
  width: 25px;
  height: 18px;
  left: 132.98px;
  top: 35px;
}

.image-4 {
  width: 95.58px;
  height: 70px;
  left: 370px;
  top: 10px;
}

.image-5 {
  width: 45px;
  height: 99px;
  left: 400px;
  top: 50px;
}

.image-7 {
  width: 20px;
  height: 20px;
  left: 341.76px;
  top: 380px;
}

.image-8 {
  width: 20px;
  height: 15px;
  left: 345px;
  top: 370px;
}

.image-9 {
  width: 44px;
  height: 44px;
  left: 237px;
  top: 430px;
}

.circle {
  position: absolute;
}

.circle-1 {
  width: 15px;
  height: 15px;
  left: 300px;
  top: 180px;
}

.circle-2 {
  width: 15px;
  height: 15px;
  left: 53px;
  top: 450px;
}

.circle-3 {
  width: 15px;
  height: 15px;
  left: 214px;
}
